@import "./variables.scss";

body {
    font-family: "Poppins", system-ui, -apple-system, Segoe UI, Roboto,
        Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji !important;
    --menu-height: 100px;
}
.nav-wrapper {
    max-height: 72px;
    transition: 0.3s;
}
.nav-wrapper.expand {
    max-height: var(--menu-height);
}

.nav-item .nav-link-line {
    transition: width 0.3s, opacity 0.3s, background-color 0.3s;
}
.nav-item.active .nav-link-line {
    opacity: 1;
    width: 15px;
    background-color: $tw-violet-500;
}

.nav-item {
    &:nth-child(1) {
        margin-left: 0;
    }
    &:hover {
        background-color: $tw-violet-500;
        .nav-link-line {
            background-color: white;
            opacity: 1;
            width: 35px;
        }
        .nav-link {
            color: white;
        }
    }
}

.menu-link-footer-wrapper {
    .ball,
    .menu-link-footer {
        transition: 0.3s;
    }
    &:hover {
        cursor: pointer;
        .menu-link-footer {
            color: $tw-gray-100;
        }
        .ball {
            opacity: 1;
            width: 25px;
        }
    }
}
.menu-link-footer-wrapper.active .menu-link-footer {
    color: $tw-gray-100;
}

.who-we-are-image {
    clip-path: polygon(0 71%, 16% 5%, 52% 31%, 98% 13%, 89% 83%, 41% 100%);
}

.section-blur-heading {
    text-shadow: 0 3px 27px rgb(0 0 0 / 15%);
}

.cta-button:hover {
    background-color: $tw-violet-700;
    border-color: $tw-violet-700;
    color: white;
}
.ghost-button:hover {
    background-color: $tw-indigo-500;
    border-color: $tw-indigo-500;
    color: white;
}
.products-sections {
    background-color: #81c1752b;
}

.product-item-homepage .image:hover {
    img {
        filter: brightness(0.5);
    }
    .buy-button {
        opacity: 1;
    }
}

.banner-other-pages-bg {
    min-height: 400px;
    background: linear-gradient(
            90deg,
            rgba($tw-indigo-800, 0.7) 0%,
            rgba($tw-indigo-800, 0.7) 100%
        ),
        url("/images/banner-bck.jpg");
    background-position: center;
    background-size: cover;
    .go-home-link:hover .link-text {
        transform: translateX(10px);
    }
}
