body {
  font-family: "Poppins", system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji !important;
}

.side-menu {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}
@media screen and (min-width: 768px) {
  .side-menu {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.side-menu.expanded {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}

.menu-item:hover {
  background-color: #e2e8f0;
}
.menu-item:hover .text,
.menu-item:hover .icon {
  color: #1e293b;
}

.disable-scroll {
  overflow: hidden;
}

.compesation-for-scrollbar {
  padding-right: 17px;
}

.modal-wrapper {
  z-index: 60;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: auto;
  display: none;
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-color: rgba(24, 23, 22, 0.5);
}

.modal-content {
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: 65;
  max-width: 1300px;
}

.modal-wrapper.large .modal-content {
  max-width: 1550px;
}

.modal-wrapper.thin .modal-content {
  max-width: 1050px;
}

.modal-wrapper.visible {
  display: block;
}

.modal-wrapper.open-animation {
  opacity: 1;
}

.modal-wrapper.content-visible .modal-content {
  opacity: 1;
}
/*! tailwindcss v2.2.17 | MIT License | https://tailwindcss.com *//*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/

html {
	-moz-tab-size: 4;
	-o-tab-size: 4;
	   tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/

/**
Remove the margin in all browsers.
*/

body {
	margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/

body {
	font-family:
		system-ui,
		-apple-system, /* Firefox supports this but not yet `system-ui` */
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
	height: 0; /* 1 */
	color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
	-webkit-text-decoration: underline dotted;
	        text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
	font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
	font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
	text-indent: 0; /* 1 */
	border-color: inherit; /* 2 */
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/

button,
select { /* 1 */
	text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/

:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

:-moz-ui-invalid {
	box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
	padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
	vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
	display: list-item;
}/**
 * Manually forked from SUIT CSS Base: https://github.com/suitcss/base
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications.
 */

/**
 * Removes the default spacing and border for appropriate elements.
 */

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
}

fieldset {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Tailwind custom reset styles
 */

/**
 * 1. Use the user's configured `sans` font-family (with Tailwind's default
 *    sans-serif font stack as a fallback) as a sane default.
 * 2. Use Tailwind's default "normal" line-height so the user isn't forced
 *    to override it to ensure consistency even when using the default theme.
 */

html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 1 */
  line-height: 1.5; /* 2 */
}


/**
 * Inherit font-family and line-height from `html` so users can set them as
 * a class directly on the `html` element.
 */

body {
  font-family: inherit;
  line-height: inherit;
}

/**
 * 1. Prevent padding and border from affecting element width.
 *
 *    We used to set this in the html element and inherit from
 *    the parent element for everything else. This caused issues
 *    in shadow-dom-enhanced elements like <details> where the content
 *    is wrapped by a div with box-sizing set to `content-box`.
 *
 *    https://github.com/mozdevs/cssremedy/issues/4
 *
 *
 * 2. Allow adding a border to an element by just adding a border-width.
 *
 *    By default, the way the browser specifies that an element should have no
 *    border is by setting it's border-style to `none` in the user-agent
 *    stylesheet.
 *
 *    In order to easily add borders to elements by just setting the `border-width`
 *    property, we change the default border-style for all elements to `solid`, and
 *    use border-width to hide them instead. This way our `border` utilities only
 *    need to set the `border-width` property instead of the entire `border`
 *    shorthand, making our border utilities much more straightforward to compose.
 *
 *    https://github.com/tailwindcss/tailwindcss/pull/116
 */

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: currentColor; /* 2 */
}

/*
 * Ensure horizontal rules are visible by default
 */

hr {
  border-top-width: 1px;
}

/**
 * Undo the `border-style: none` reset that Normalize applies to images so that
 * our `border-{width}` utilities have the expected effect.
 *
 * The Normalize reset is unnecessary for us since we default the border-width
 * to 0 on all elements.
 *
 * https://github.com/tailwindcss/tailwindcss/issues/362
 */

img {
  border-style: solid;
}

textarea {
  resize: vertical;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  opacity: 1;
  color: #a1a1aa;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  color: #a1a1aa;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
  color: #a1a1aa;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  opacity: 1;
  color: #a1a1aa;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #a1a1aa;
}

button,
[role="button"] {
  cursor: pointer;
}

/**
 * Override legacy focus reset from Normalize with modern Firefox focus styles.
 *
 * This is actually an improvement over the new defaults in Firefox in our testing,
 * as it triggers the better focus styles even for links, which still use a dotted
 * outline in Firefox by default.
 */
 
:-moz-focusring {
	outline: auto;
}

table {
  border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/**
 * Reset links to optimize for opt-in styling instead of
 * opt-out.
 */

a {
  color: inherit;
  text-decoration: inherit;
}

/**
 * Reset form element properties that are easy to forget to
 * style explicitly so you don't inadvertently introduce
 * styles that deviate from your design system. These styles
 * supplement a partial reset that is already applied by
 * normalize.css.
 */

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

/**
 * Use the configured 'mono' font family for elements that
 * are expected to be rendered with a monospace font, falling
 * back to the system monospace stack if there is no configured
 * 'mono' font family.
 */

pre,
code,
kbd,
samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/**
 * 1. Make replaced elements `display: block` by default as that's
 *    the behavior you want almost all of the time. Inspired by
 *    CSS Remedy, with `svg` added as well.
 *
 *    https://github.com/mozdevs/cssremedy/issues/14
 * 
 * 2. Add `vertical-align: middle` to align replaced elements more
 *    sensibly by default when overriding `display` by adding a
 *    utility like `inline`.
 *
 *    This can trigger a poorly considered linting error in some
 *    tools but is included by design.
 * 
 *    https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210
 */

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/**
 * Constrain images and videos to the parent width and preserve
 * their intrinsic aspect ratio.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img,
video {
  max-width: 100%;
  height: auto;
}

/**
 * Ensure the default browser behavior of the `hidden` attribute.
 */

[hidden] {
  display: none;
}

*, ::before, ::after {
	--tw-translate-x: 0;
	--tw-translate-y: 0;
	--tw-rotate: 0;
	--tw-skew-x: 0;
	--tw-skew-y: 0;
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	--tw-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
	--tw-border-opacity: 1;
	border-color: rgba(228, 228, 231, var(--tw-border-opacity));
	--tw-ring-offset-shadow: 0 0 #0000;
	--tw-ring-shadow: 0 0 #0000;
	--tw-shadow: 0 0 #0000;
}
    p, span, h1, h2, h3, h4, h5 {
	--tw-text-opacity: 1;
	color: rgba(39, 39, 42, var(--tw-text-opacity));
}
    .font-secondary {
        font-family: "Comfortaa";
    }
.admin-content {
	margin-right: 0px;
	margin-left: auto;
	width: 100%;
	padding: 0.75rem;
}
@media (min-width: 768px) {

	.admin-content {
		width: calc(100% - 20rem);
	}
}
.page-header-with-button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
@media (min-width: 640px) {

	.page-header-with-button {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
	}
}
.add-button-in-header {
	margin-top: 1rem;
        font-family: "Comfortaa";
        border-radius: 0.375rem;
        border-width: 2px;
        --tw-border-opacity: 1;
        border-color: rgba(51, 65, 85, var(--tw-border-opacity));
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        font-weight: 700;
        -webkit-transition-property: background-color, border-color, color, fill, stroke, opacity, -webkit-box-shadow, -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
        transition-property: background-color, border-color, color, fill, stroke, opacity, -webkit-box-shadow, -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
        -o-transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
        transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
        transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-box-shadow, -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
        -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
             -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        -webkit-transition-duration: 150ms;
             -o-transition-duration: 150ms;
                transition-duration: 150ms;
        -webkit-transition-duration: 300ms;
             -o-transition-duration: 300ms;
                transition-duration: 300ms;
}
.add-button-in-header:hover {
	--tw-bg-opacity: 1;
	background-color: rgba(51, 65, 85, var(--tw-bg-opacity));
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}
@media (min-width: 640px) {

	.add-button-in-header {
		margin-top: 0px;
	}
}
.side-menu {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 40;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	width: 100%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	overflow-y: auto;
	--tw-bg-opacity: 1;
	background-color: rgba(30, 41, 59, var(--tw-bg-opacity));
	-webkit-transition-property: background-color, border-color, color, fill, stroke, opacity, -webkit-box-shadow, -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, -webkit-box-shadow, -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
	-o-transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-box-shadow, -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	     -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-transition-duration: 150ms;
	     -o-transition-duration: 150ms;
	        transition-duration: 150ms;
	-webkit-transition-duration: 700ms;
	     -o-transition-duration: 700ms;
	        transition-duration: 700ms;
}
@media (min-width: 475px) {

	.side-menu {
		width: 20rem;
	}
}
.side-menu-bottom-link {
	display: block;
        font-family: "Comfortaa";
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: 700;
        --tw-text-opacity: 1;
        color: rgba(226, 232, 240, var(--tw-text-opacity));
}
.menu-items {
	padding: 0.75rem;
}
.menu-item {
	margin-top: 0.75rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	border-radius: 0.375rem;
	--tw-bg-opacity: 1;
	background-color: rgba(51, 65, 85, var(--tw-bg-opacity));
	padding: 0.75rem;
	-webkit-transition-property: background-color, border-color, color, fill, stroke, opacity, -webkit-box-shadow, -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, -webkit-box-shadow, -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
	-o-transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-box-shadow, -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	     -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-transition-duration: 150ms;
	     -o-transition-duration: 150ms;
	        transition-duration: 150ms;
	-webkit-transition-duration: 300ms;
	     -o-transition-duration: 300ms;
	        transition-duration: 300ms;
}
.menu-item:first-child {
	margin-top: 0px;
}
.menu-item.active {
	--tw-bg-opacity: 1;
	background-color: rgba(253, 186, 116, var(--tw-bg-opacity));
}
.menu-item.active .icon, .menu-item.active .text {
	--tw-text-opacity: 1;
	color: rgba(39, 39, 42, var(--tw-text-opacity));
}
.menu-item .icon, .menu-item .text {
	--tw-text-opacity: 1;
	color: rgba(244, 244, 245, var(--tw-text-opacity));
	-webkit-transition-property: background-color, border-color, color, fill, stroke, opacity, -webkit-box-shadow, -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, -webkit-box-shadow, -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
	-o-transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-box-shadow, -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	     -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-transition-duration: 150ms;
	     -o-transition-duration: 150ms;
	        transition-duration: 150ms;
	-webkit-transition-duration: 300ms;
	     -o-transition-duration: 300ms;
	        transition-duration: 300ms;
}
.menu-item .icon {
	width: 2rem;
	font-size: 1.5rem;
	line-height: 2rem;
}
.menu-item .text {
	font-size: 1.25rem;
	line-height: 1.75rem;
}
#floating-menu-button {
	position: fixed;
	bottom: 3rem;
	right: 3rem;
	z-index: 50;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 4rem;
	width: 4rem;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	border-radius: 0.375rem;
	--tw-bg-opacity: 1;
	background-color: rgba(126, 34, 206, var(--tw-bg-opacity));
	font-size: 1.875rem;
	line-height: 2.25rem;
	--tw-text-opacity: 1;
	color: rgba(226, 232, 240, var(--tw-text-opacity));
	--tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
	        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
@media (min-width: 768px) {

	#floating-menu-button {
		display: none;
	}
}
.product-category-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	border-radius: 0.5rem;
	--tw-bg-opacity: 1;
	background-color: rgba(199, 210, 254, var(--tw-bg-opacity));
	--tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
	        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.product-categories-grid {
	margin-top: 2rem;
	display: grid;
	grid-template-columns: repeat(1, minmax(0, 1fr));
	gap: 1rem;
}
@media (min-width: 640px) {

	.product-categories-grid {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}
@media (min-width: 768px) {

	.product-categories-grid {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}
}
@media (min-width: 1024px) {

	.product-categories-grid {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}
@media (min-width: 1280px) {

	.product-categories-grid {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}
.project-category-item-actions {
	margin-left: 0.5rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border-radius: 0.5rem;
	--tw-bg-opacity: 1;
	background-color: rgba(51, 65, 85, var(--tw-bg-opacity));
	padding: 0.75rem;
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.modal-submit-btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border-radius: 0.375rem;
	--tw-bg-opacity: 1;
	background-color: rgba(5, 150, 105, var(--tw-bg-opacity));
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	font-size: 1.25rem;
	line-height: 1.75rem;
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
	-webkit-transition-property: background-color, border-color, color, fill, stroke, opacity, -webkit-box-shadow, -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, -webkit-box-shadow, -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
	-o-transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-box-shadow, -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	     -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-transition-duration: 150ms;
	     -o-transition-duration: 150ms;
	        transition-duration: 150ms;
	-webkit-transition-duration: 300ms;
	     -o-transition-duration: 300ms;
	        transition-duration: 300ms;
}
.modal-submit-btn.edit {
	--tw-bg-opacity: 1;
	background-color: rgba(251, 146, 60, var(--tw-bg-opacity));
}
.modal-submit-btn.edit:hover {
	--tw-bg-opacity: 1;
	background-color: rgba(234, 88, 12, var(--tw-bg-opacity));
}
.add-product-category-container {
	margin-left: auto;
	margin-right: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
@media (min-width: 475px) {

	.add-product-category-container {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
	}
}
.product-category-submit-input-btn {
	margin-top: auto;
	margin-bottom: auto;
	height: 36px;
	-ms-flex-item-align: stretch;
	    align-self: stretch;
	border-top-right-radius: 0.375rem;
	border-bottom-right-radius: 0.375rem;
	--tw-bg-opacity: 1;
	background-color: rgba(5, 150, 105, var(--tw-bg-opacity));
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	font-size: 1.25rem;
	line-height: 1.75rem;
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
	-webkit-transition-property: background-color, border-color, color, fill, stroke, opacity, -webkit-box-shadow, -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, -webkit-box-shadow, -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
	-o-transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-box-shadow, -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	     -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-transition-duration: 150ms;
	     -o-transition-duration: 150ms;
	        transition-duration: 150ms;
	-webkit-transition-duration: 300ms;
	     -o-transition-duration: 300ms;
	        transition-duration: 300ms;
}
.input-style-disabled {
	border-radius: 0.375rem;
	--tw-bg-opacity: 1;
	background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	font-size: 1.25rem;
	line-height: 1.75rem;
	-webkit-transition-property: background-color, border-color, color, fill, stroke, opacity, -webkit-box-shadow, -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, -webkit-box-shadow, -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
	-o-transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-box-shadow, -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	     -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-transition-duration: 150ms;
	     -o-transition-duration: 150ms;
	        transition-duration: 150ms;
	-webkit-transition-duration: 300ms;
	     -o-transition-duration: 300ms;
	        transition-duration: 300ms;
}
.input-style-disabled:disabled {
	background-color: transparent;
}
.input-style {
	position: relative;
	width: 100%;
	border-radius: 0.375rem;
	padding: 0.75rem;
	font-size: 1rem;
	line-height: 1.5rem;
	--tw-text-opacity: 1;
	color: rgba(39, 39, 42, var(--tw-text-opacity));
	outline: 2px solid transparent;
	outline-offset: 2px;
	-webkit-transition-property: all;
	-o-transition-property: all;
	transition-property: all;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	     -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-transition-duration: 150ms;
	     -o-transition-duration: 150ms;
	        transition-duration: 150ms;
	-webkit-transition-duration: 300ms;
	     -o-transition-duration: 300ms;
	        transition-duration: 300ms;
}
.input-control {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
.product-category-item-button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 1.5rem;
	line-height: 2rem;
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
	-webkit-transition-property: background-color, border-color, color, fill, stroke, opacity, -webkit-box-shadow, -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, -webkit-box-shadow, -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
	-o-transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-box-shadow, -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	     -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-transition-duration: 150ms;
	     -o-transition-duration: 150ms;
	        transition-duration: 150ms;
	-webkit-transition-duration: 300ms;
	     -o-transition-duration: 300ms;
	        transition-duration: 300ms;
}
.modal-content {
	margin-left: auto;
	margin-right: auto;
	width: calc(100% - 32px);
	border-radius: 0.5rem;
	--tw-bg-opacity: 1;
	background-color: rgba(241, 245, 249, var(--tw-bg-opacity));
	padding: 0.75rem;
}
@media (min-width: 768px) {

	.modal-content {
		width: 75%;
	}
}
.modal-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.modal-content-message-format {
	width: calc(100% - 32px);
}
@media (min-width: 768px) {

	.modal-content-message-format {
		width: 600px;
	}
}
.products-wrapper {
	margin-top: 2rem;
}
.product-category-wrapper {
	margin-top: 1.25rem;
	border-radius: 0.5rem;
	--tw-bg-opacity: 1;
	background-color: rgba(226, 232, 240, var(--tw-bg-opacity));
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	--tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
	        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.product-category-wrapper:first-child {
	margin-top: 0px;
}
@media (min-width: 475px) {

	.product-category-wrapper {
		padding: 1rem;
	}
}
.product-category-wrapper-heading {
	margin-bottom: 1rem;
        font-family: "Comfortaa";
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: 700;
        --tw-text-opacity: 1;
        color: rgba(30, 41, 59, var(--tw-text-opacity));
}
.product-category-products-fetch {
	display: grid;
	gap: 1rem;
}
@media (min-width: 1280px) {

	.product-category-products-fetch {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}
.product-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border-radius: 0.375rem;
	--tw-bg-opacity: 1;
	background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
	padding: 0.75rem;
}
@media (min-width: 475px) {

	.product-item {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
	}
}
.product-item .text {
	margin-top: 1rem;
	width: 100%;
}
@media (min-width: 475px) {

	.product-item .text {
		margin-top: 0px;
	}

	.product-item .text {
		margin-left: 1rem;
	}

	.product-item .text {
		width: 50%;
	}
}
.product-item-name {
	margin-bottom: 2rem;
	display: block;
	font-size: 1.25rem;
	line-height: 1.75rem;
	font-weight: 500;
	--tw-text-opacity: 1;
	color: rgba(30, 41, 59, var(--tw-text-opacity));
}
.product-item .actions {
	margin-top: 1rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	border-radius: 0.375rem;
}
.product-item .action-button {
	margin-left: 0.5rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 3rem;
	width: 3rem;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	border-radius: 0.375rem;
	--tw-bg-opacity: 1;
	background-color: rgba(51, 65, 85, var(--tw-bg-opacity));
	padding: 0.5rem;
	font-size: 1.5rem;
	line-height: 2rem;
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
	-webkit-transition-property: background-color, border-color, color, fill, stroke, opacity, -webkit-box-shadow, -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, -webkit-box-shadow, -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
	-o-transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-box-shadow, -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	     -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-transition-duration: 150ms;
	     -o-transition-duration: 150ms;
	        transition-duration: 150ms;
	-webkit-transition-duration: 300ms;
	     -o-transition-duration: 300ms;
	        transition-duration: 300ms;
}
.product-item .action-button:first-child {
	margin-left: 0px;
}
.product-item-text-group {
	margin-top: 0.5rem;
}
.product-item-text-group:first-child {
	margin-top: 0px;
}
.product-item-text-group .group-name {
	font-size: 0.875rem;
	line-height: 1.25rem;
	--tw-text-opacity: 1;
	color: rgba(148, 163, 184, var(--tw-text-opacity));
}
.product-item-text-group .group-content {
	font-size: 1.125rem;
	line-height: 1.75rem;
	--tw-text-opacity: 1;
	color: rgba(30, 41, 59, var(--tw-text-opacity));
}
.product-item .image {
	height: 100%;
	width: 100%;
}
@media (min-width: 475px) {

	.product-item .image {
		width: 50%;
	}
}
.product-item .image img {
	height: 100%;
	min-height: 100px;
	width: 100%;
	border-radius: 0.375rem;
	-o-object-fit: cover;
	   object-fit: cover;
}
.modal-grid-two-cols {
	display: grid;
	width: 100%;
	gap: 1rem;
}
@media (min-width: 475px) {

	.modal-grid-two-cols {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}
.input-style.product-style {
	border-width: 2px;
	--tw-border-opacity: 1;
	border-color: rgba(71, 85, 105, var(--tw-border-opacity));
	font-size: 1.125rem;
	line-height: 1.75rem;
}
.pointer-events-none {
	pointer-events: none;
}
.visible {
	visibility: visible;
}
.fixed {
	position: fixed;
}
.absolute {
	position: absolute;
}
.relative {
	position: relative;
}
.top-0 {
	top: 0px;
}
.right-0 {
	right: 0px;
}
.z-10 {
	z-index: 10;
}
.mx-auto {
	margin-left: auto;
	margin-right: auto;
}
.my-6 {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}
.my-2 {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
.-mr-1 {
	margin-right: -0.25rem;
}
.ml-1 {
	margin-left: 0.25rem;
}
.mt-2 {
	margin-top: 0.5rem;
}
.mr-2 {
	margin-right: 0.5rem;
}
.ml-2 {
	margin-left: 0.5rem;
}
.mt-4 {
	margin-top: 1rem;
}
.ml-4 {
	margin-left: 1rem;
}
.mt-8 {
	margin-top: 2rem;
}
.ml-12 {
	margin-left: 3rem;
}
.-mt-px {
	margin-top: -1px;
}
.mt-16 {
	margin-top: 4rem;
}
.mt-6 {
	margin-top: 1.5rem;
}
.mb-12 {
	margin-bottom: 3rem;
}
.mr-8 {
	margin-right: 2rem;
}
.ml-6 {
	margin-left: 1.5rem;
}
.ml-auto {
	margin-left: auto;
}
.mr-0 {
	margin-right: 0px;
}
.mt-12 {
	margin-top: 3rem;
}
.mt-24 {
	margin-top: 6rem;
}
.mr-4 {
	margin-right: 1rem;
}
.mt-auto {
	margin-top: auto;
}
.mb-0 {
	margin-bottom: 0px;
}
.-mr-36 {
	margin-right: -9rem;
}
.mt-10 {
	margin-top: 2.5rem;
}
.mt-20 {
	margin-top: 5rem;
}
.mr-auto {
	margin-right: auto;
}
.mt-1 {
	margin-top: 0.25rem;
}
.mt-3 {
	margin-top: 0.75rem;
}
.ml-8 {
	margin-left: 2rem;
}
.block {
	display: block;
}
.inline-block {
	display: inline-block;
}
.flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.grid {
	display: grid;
}
.hidden {
	display: none;
}
.h-5 {
	height: 1.25rem;
}
.h-8 {
	height: 2rem;
}
.h-16 {
	height: 4rem;
}
.h-1 {
	height: 0.25rem;
}
.h-full {
	height: 100%;
}
.h-40 {
	height: 10rem;
}
.h-64 {
	height: 16rem;
}
.max-h-\[4rem\] {
	max-height: 4rem;
}
.max-h-0 {
	max-height: 0px;
}
.min-h-screen {
	min-height: 100vh;
}
.w-5 {
	width: 1.25rem;
}
.w-8 {
	width: 2rem;
}
.w-auto {
	width: auto;
}
.w-full {
	width: 100%;
}
.w-40 {
	width: 10rem;
}
.w-4\/5 {
	width: 80%;
}
.w-48 {
	width: 12rem;
}
.w-24 {
	width: 6rem;
}
.w-11\/12 {
	width: 91.666667%;
}
.w-2 {
	width: 0.5rem;
}
.w-3\/4 {
	width: 75%;
}
.w-max {
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
}
.w-72 {
	width: 18rem;
}
.w-\[calc\(100\%-18rem\)\] {
	width: calc(100% - 18rem);
}
.max-w-xl {
	max-width: 36rem;
}
.max-w-6xl {
	max-width: 72rem;
}
.max-w-sm {
	max-width: 24rem;
}
.translate-x-2 {
	--tw-translate-x: 0.5rem;
	-webkit-transform: var(--tw-transform);
	    -ms-transform: var(--tw-transform);
	        transform: var(--tw-transform);
}
.transform {
	-webkit-transform: var(--tw-transform);
	    -ms-transform: var(--tw-transform);
	        transform: var(--tw-transform);
}
@-webkit-keyframes spin {

	to {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}
@keyframes spin {

	to {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}
.animate-spin {
	-webkit-animation: spin 1s linear infinite;
	        animation: spin 1s linear infinite;
}
.cursor-pointer {
	cursor: pointer;
}
.resize {
	resize: both;
}
.grid-cols-1 {
	grid-template-columns: repeat(1, minmax(0, 1fr));
}
.grid-cols-3 {
	grid-template-columns: repeat(3, minmax(0, 1fr));
}
.flex-col {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.flex-col-reverse {
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	    -ms-flex-direction: column-reverse;
	        flex-direction: column-reverse;
}
.flex-wrap {
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.items-start {
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}
.items-end {
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}
.items-center {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.items-stretch {
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
}
.justify-start {
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
.justify-end {
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}
.justify-center {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.justify-between {
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.gap-4 {
	gap: 1rem;
}
.gap-5 {
	gap: 1.25rem;
}
.self-stretch {
	-ms-flex-item-align: stretch;
	    align-self: stretch;
}
.overflow-hidden {
	overflow: hidden;
}
.break-all {
	word-break: break-all;
}
.rounded-3xl {
	border-radius: 1.5rem;
}
.rounded-lg {
	border-radius: 0.5rem;
}
.rounded-full {
	border-radius: 9999px;
}
.rounded-md {
	border-radius: 0.375rem;
}
.rounded {
	border-radius: 0.25rem;
}
.rounded-sm {
	border-radius: 0.125rem;
}
.rounded-r-none {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.border-2 {
	border-width: 2px;
}
.border-t {
	border-top-width: 1px;
}
.border-r {
	border-right-width: 1px;
}
.border-dashed {
	border-style: dashed;
}
.border-gray-200 {
	--tw-border-opacity: 1;
	border-color: rgba(228, 228, 231, var(--tw-border-opacity));
}
.border-gray-400 {
	--tw-border-opacity: 1;
	border-color: rgba(161, 161, 170, var(--tw-border-opacity));
}
.border-blue-gray-600 {
	--tw-border-opacity: 1;
	border-color: rgba(71, 85, 105, var(--tw-border-opacity));
}
.bg-white {
	--tw-bg-opacity: 1;
	background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}
.bg-gray-100 {
	--tw-bg-opacity: 1;
	background-color: rgba(244, 244, 245, var(--tw-bg-opacity));
}
.bg-indigo-500 {
	--tw-bg-opacity: 1;
	background-color: rgba(99, 102, 241, var(--tw-bg-opacity));
}
.bg-blue-gray-700 {
	--tw-bg-opacity: 1;
	background-color: rgba(51, 65, 85, var(--tw-bg-opacity));
}
.bg-purple-500 {
	--tw-bg-opacity: 1;
	background-color: rgba(168, 85, 247, var(--tw-bg-opacity));
}
.bg-gray-800 {
	--tw-bg-opacity: 1;
	background-color: rgba(39, 39, 42, var(--tw-bg-opacity));
}
.bg-gray-900 {
	--tw-bg-opacity: 1;
	background-color: rgba(24, 24, 27, var(--tw-bg-opacity));
}
.bg-rose-600 {
	--tw-bg-opacity: 1;
	background-color: rgba(225, 29, 72, var(--tw-bg-opacity));
}
.bg-emerald-400 {
	--tw-bg-opacity: 1;
	background-color: rgba(52, 211, 153, var(--tw-bg-opacity));
}
.bg-rose-400 {
	--tw-bg-opacity: 1;
	background-color: rgba(251, 113, 133, var(--tw-bg-opacity));
}
.bg-blue-gray-200 {
	--tw-bg-opacity: 1;
	background-color: rgba(226, 232, 240, var(--tw-bg-opacity));
}
.bg-violet-100 {
	--tw-bg-opacity: 1;
	background-color: rgba(237, 233, 254, var(--tw-bg-opacity));
}
.bg-gradient-to-br {
	background-image: -webkit-gradient(linear, left top, right bottom, from(var(--tw-gradient-stops)));
	background-image: -o-linear-gradient(top left, var(--tw-gradient-stops));
	background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
}
.from-indigo-300 {
	--tw-gradient-from: #a5b4fc;
	--tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(165, 180, 252, 0));
}
.to-purple-300 {
	--tw-gradient-to: #d8b4fe;
}
.object-cover {
	-o-object-fit: cover;
	   object-fit: cover;
}
.p-6 {
	padding: 1.5rem;
}
.p-4 {
	padding: 1rem;
}
.p-3 {
	padding: 0.75rem;
}
.py-4 {
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.px-4 {
	padding-left: 1rem;
	padding-right: 1rem;
}
.px-6 {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}
.py-12 {
	padding-top: 3rem;
	padding-bottom: 3rem;
}
.py-7 {
	padding-top: 1.75rem;
	padding-bottom: 1.75rem;
}
.py-1 {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}
.px-2 {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
.py-2 {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.px-3 {
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}
.pt-8 {
	padding-top: 2rem;
}
.pr-6 {
	padding-right: 1.5rem;
}
.pb-12 {
	padding-bottom: 3rem;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-3xl {
	font-size: 1.875rem;
	line-height: 2.25rem;
}
.text-4xl {
	font-size: 2.25rem;
	line-height: 2.5rem;
}
.text-lg {
	font-size: 1.125rem;
	line-height: 1.75rem;
}
.text-sm {
	font-size: 0.875rem;
	line-height: 1.25rem;
}
.text-xl {
	font-size: 1.25rem;
	line-height: 1.75rem;
}
.text-7xl {
	font-size: 4.5rem;
	line-height: 1;
}
.text-2xl {
	font-size: 1.5rem;
	line-height: 2rem;
}
.text-base {
	font-size: 1rem;
	line-height: 1.5rem;
}
.text-5xl {
	font-size: 3rem;
	line-height: 1;
}
.text-6xl {
	font-size: 3.75rem;
	line-height: 1;
}
.font-bold {
	font-weight: 700;
}
.font-semibold {
	font-weight: 600;
}
.font-medium {
	font-weight: 500;
}
.uppercase {
	text-transform: uppercase;
}
.leading-7 {
	line-height: 1.75rem;
}
.tracking-wider {
	letter-spacing: 0.05em;
}
.text-gray-800 {
	--tw-text-opacity: 1;
	color: rgba(39, 39, 42, var(--tw-text-opacity));
}
.text-purple-500 {
	--tw-text-opacity: 1;
	color: rgba(168, 85, 247, var(--tw-text-opacity));
}
.text-gray-200 {
	--tw-text-opacity: 1;
	color: rgba(228, 228, 231, var(--tw-text-opacity));
}
.text-gray-300 {
	--tw-text-opacity: 1;
	color: rgba(212, 212, 216, var(--tw-text-opacity));
}
.text-gray-400 {
	--tw-text-opacity: 1;
	color: rgba(161, 161, 170, var(--tw-text-opacity));
}
.text-gray-500 {
	--tw-text-opacity: 1;
	color: rgba(113, 113, 122, var(--tw-text-opacity));
}
.text-gray-600 {
	--tw-text-opacity: 1;
	color: rgba(82, 82, 91, var(--tw-text-opacity));
}
.text-gray-700 {
	--tw-text-opacity: 1;
	color: rgba(63, 63, 70, var(--tw-text-opacity));
}
.text-gray-900 {
	--tw-text-opacity: 1;
	color: rgba(24, 24, 27, var(--tw-text-opacity));
}
.text-indigo-500 {
	--tw-text-opacity: 1;
	color: rgba(99, 102, 241, var(--tw-text-opacity));
}
.text-white {
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.text-purple-800 {
	--tw-text-opacity: 1;
	color: rgba(107, 33, 168, var(--tw-text-opacity));
}
.text-blue-gray-800 {
	--tw-text-opacity: 1;
	color: rgba(30, 41, 59, var(--tw-text-opacity));
}
.underline {
	text-decoration: underline;
}
.antialiased {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.opacity-0 {
	opacity: 0;
}
.opacity-100 {
	opacity: 1;
}
.shadow-lg {
	--tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
	        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow {
	--tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	-webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
	        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.outline-none {
	outline: 2px solid transparent;
	outline-offset: 2px;
}
.transition {
	-webkit-transition-property: background-color, border-color, color, fill, stroke, opacity, -webkit-box-shadow, -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, -webkit-box-shadow, -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
	-o-transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-box-shadow, -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	     -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-transition-duration: 150ms;
	     -o-transition-duration: 150ms;
	        transition-duration: 150ms;
}
.transition-all {
	-webkit-transition-property: all;
	-o-transition-property: all;
	transition-property: all;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	     -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-transition-duration: 150ms;
	     -o-transition-duration: 150ms;
	        transition-duration: 150ms;
}
.duration-300 {
	-webkit-transition-duration: 300ms;
	     -o-transition-duration: 300ms;
	        transition-duration: 300ms;
}
.duration-700 {
	-webkit-transition-duration: 700ms;
	     -o-transition-duration: 700ms;
	        transition-duration: 700ms;
}
.first\:ml-0:first-child {
	margin-left: 0px;
}
.first\:mt-0:first-child {
	margin-top: 0px;
}
.hover\:bg-amber-600:hover {
	--tw-bg-opacity: 1;
	background-color: rgba(217, 119, 6, var(--tw-bg-opacity));
}
.hover\:bg-rose-600:hover {
	--tw-bg-opacity: 1;
	background-color: rgba(225, 29, 72, var(--tw-bg-opacity));
}
.hover\:text-orange-400:hover {
	--tw-text-opacity: 1;
	color: rgba(251, 146, 60, var(--tw-text-opacity));
}
.hover\:text-rose-600:hover {
	--tw-text-opacity: 1;
	color: rgba(225, 29, 72, var(--tw-text-opacity));
}
@media (min-width: 475px) {

	.xs\:mt-0 {
		margin-top: 0px;
	}

	.xs\:ml-4 {
		margin-left: 1rem;
	}

	.xs\:w-5\/6 {
		width: 83.333333%;
	}

	.xs\:w-4\/5 {
		width: 80%;
	}

	.xs\:w-3\/4 {
		width: 75%;
	}

	.xs\:w-1\/2 {
		width: 50%;
	}

	.xs\:w-\[calc\(100\%-172px\)\] {
		width: calc(100% - 172px);
	}
}
@media (min-width: 640px) {

	.sm\:ml-4 {
		margin-left: 1rem;
	}

	.sm\:mt-0 {
		margin-top: 0px;
	}

	.sm\:hidden {
		display: none;
	}

	.sm\:w-2\/3 {
		width: 66.666667%;
	}

	.sm\:w-full {
		width: 100%;
	}

	.sm\:w-1\/3 {
		width: 33.333333%;
	}

	.sm\:grid-cols-2 {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	.sm\:flex-row {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
	}

	.sm\:items-center {
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}

	.sm\:justify-start {
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
	}

	.sm\:break-normal {
		overflow-wrap: normal;
		word-break: normal;
	}

	.sm\:p-6 {
		padding: 1.5rem;
	}

	.sm\:px-6 {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}

	.sm\:pt-0 {
		padding-top: 0px;
	}

	.sm\:text-6xl {
		font-size: 3.75rem;
		line-height: 1;
	}

	.sm\:text-8xl {
		font-size: 6rem;
		line-height: 1;
	}

	.sm\:text-7xl {
		font-size: 4.5rem;
		line-height: 1;
	}
}
@media (min-width: 768px) {

	.md\:mt-8 {
		margin-top: 2rem;
	}

	.md\:mr-6 {
		margin-right: 1.5rem;
	}

	.md\:mt-0 {
		margin-top: 0px;
	}

	.md\:mt-48 {
		margin-top: 12rem;
	}

	.md\:mt-6 {
		margin-top: 1.5rem;
	}

	.md\:w-4\/5 {
		width: 80%;
	}

	.md\:w-1\/5 {
		width: 20%;
	}

	.md\:w-1\/2 {
		width: 50%;
	}

	.md\:w-96 {
		width: 24rem;
	}

	.md\:w-3\/4 {
		width: 75%;
	}

	.md\:w-3\/5 {
		width: 60%;
	}

	.md\:w-2\/5 {
		width: 40%;
	}

	.md\:max-w-none {
		max-width: none;
	}

	.md\:flex-row {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
	}

	.md\:justify-end {
		-webkit-box-pack: end;
		    -ms-flex-pack: end;
		        justify-content: flex-end;
	}

	.md\:pr-6 {
		padding-right: 1.5rem;
	}

	.md\:text-5xl {
		font-size: 3rem;
		line-height: 1;
	}

	.md\:text-4xl {
		font-size: 2.25rem;
		line-height: 2.5rem;
	}

	.md\:text-6xl {
		font-size: 3.75rem;
		line-height: 1;
	}

	.md\:text-xl {
		font-size: 1.25rem;
		line-height: 1.75rem;
	}

	.md\:text-lg {
		font-size: 1.125rem;
		line-height: 1.75rem;
	}
}
@media (min-width: 1024px) {

	.lg\:mt-0 {
		margin-top: 0px;
	}

	.lg\:w-1\/2 {
		width: 50%;
	}

	.lg\:grid-cols-3 {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}

	.lg\:flex-row {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
	}

	.lg\:px-8 {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.lg\:py-24 {
		padding-top: 6rem;
		padding-bottom: 6rem;
	}

	.lg\:pr-6 {
		padding-right: 1.5rem;
	}

	.lg\:pb-24 {
		padding-bottom: 6rem;
	}

	.lg\:text-8xl {
		font-size: 6rem;
		line-height: 1;
	}

	.lg\:text-9xl {
		font-size: 8rem;
		line-height: 1;
	}
}
@media (min-width: 1280px) {

	.xl\:absolute {
		position: absolute;
	}

	.xl\:mt-0 {
		margin-top: 0px;
	}

	.xl\:w-96 {
		width: 24rem;
	}
}

